.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
    margin-left: -30px;
}

.react-datepicker-wrapper{
    margin-bottom: 20px;
    font-family: "Work Sans";
    font-size: small;
}

.react-datepicker{
    margin-left: 20px;
}

