body, html {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 13px;
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
}
.navbar{
  background: #75a045;
}
.react-swipeable-view-container {
  height: 100%;
}